<h1>
  <% @list.movies.each do |movie| %>
    <p><%= movie.title %></p>
    <% movie.bookmarks.each do |bookmark| %>
      <%= bookmark.comment %>
      <%= link_to "delete", bookmark_path(bookmark),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    <% end %>
  <% end %>
</h1>
